/* export const CONFIG_SIZE_MAP: any = {
    1: 'small',
    2: 'medium',
    3: 'large',
};
export const WIDGET_SIZE: any = {
    small: {
        width: 155,
        height: 155,
    },
    medium: {
        width: 329,
        height: 155,
    },
    large: {
        width: 329,
        height: 345,
    },
}; */
.size_1 {
    width: 155px;
    height: 155px;
}
.size_2 {
    width: 329px;
    height: 155px
}
.size_3 {
    width: 329px;
    height: 345px;
}

@keyframes xyflow-time4-move-x {
    0%,
    100% {
        transform: translate3d(var(--xyflow-time4-start-offset, 0px), 0, 0);
    }
    50% {
        transform: translate3d(var(--xyflow-time4-end-offset, 0px), 0, 0);
    }
}

@keyframes xyflow-time4-move-y {
    0%,
    100% {
        transform: translate3d(0, var(--xyflow-time4-start-offset, 0px), 0);
    }
    50% {
        transform: translate3d(0, var(--xyflow-time4-end-offset, 0px), 0);
    }
}

@keyframes xyflow-time5-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
