/* export const CONFIG_SIZE_MAP: any = {
    1: 'small',
    2: 'medium',
    3: 'large',
};
export const WIDGET_SIZE: any = {
    small: {
        width: 155,
        height: 155,
    },
    medium: {
        width: 329,
        height: 155,
    },
    large: {
        width: 329,
        height: 345,
    },
}; */
.size_1 {
    width: 155px;
    height: 155px;
}
.size_2 {
    width: 329px;
    height: 155px
}
.size_3 {
    width: 329px;
    height: 345px;
}
